[Unit]
Description=External Chisel Deep Check Timer (run on separate host)

[Timer]
Unit=external-chisel-check.service
OnBootSec=90s
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
